@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-container {
  max-width: 1255px;
  margin: 0 auto;
  padding: 0 15px;
}
@font-face {
  font-family: Roboto-Regular;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf);
}
.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #2f2432; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
