@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-container {
  max-width: 1255px;
  margin: 0 auto;
  padding: 0 15px;
}
@font-face {
  font-family: Roboto-Regular;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf);
}
